.board {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-template-rows: 60px repeat(5, 60px);
  border: 10px black solid;
  width: 420px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
.board button{
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  margin: 1px;
}
.space:hover {
  background-color: white;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

#top{
    margin: 0 auto;
    text-align: center;
    width: 440px;
}

.player{
    margin: 0 auto;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px black;
}

.player1{
    width: 150px;
    float: left;
    text-align: left;
    border: 3px solid black;
    border-radius: 10px 10px 0 0;
    background: blue;
}
.player2{
    width: 150px;
    float: right;
    text-align: right;
    border: 3px solid black;
    border-radius: 10px 10px 0 0;
    background: red;
}
.wait{
    opacity: .15;
}
